body {
  margin: 10px;
}

p::first-letter {
  font-size: 150%;
  font-weight: bold;
}

p::first-line {
  background-color: aqua;
}

::selection {
  background-color: yellow;
}

p::after {
  content: ".....";
  display: block;
  background-color: greenyellow;
}
